<launch>
  <!--  smooths inputs from cmd_vel_mux/input/teleop_raw to cmd_vel_mux/input/teleop -->
  <!-- <include file="$(find social_sim_teleop)/launch/includes/velocity_smoother.launch.xml"/> -->

  <node pkg="social_sim_teleop" type="social_sim_teleop_joy" name="social_sim_teleop_joystick">
    <param name="scale_angular" value="0.5"/>
    <param name="scale_linear" value="0.5"/>
    <param name="axis_deadman" value="4"/>
    <param name="axis_linear" value="1"/>
    <param name="axis_angular" value="0"/>
    <remap from="social_sim_teleop_joystick/cmd_vel" to="/joystick_cmd_vel"/>
  </node>

  <node pkg="joy" type="joy_node" name="joystick"/>

</launch>
