<launch>
 
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <rosparam file="$(find social_sim_ros)/params/kuri/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find social_sim_ros)/params/kuri/costmap_common_params.yaml" command="load" ns="local_costmap" />
    
    <rosparam file="$(find social_sim_ros)/params/kuri/map_nav_params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find social_sim_ros)/params/kuri/map_nav_params/global_costmap_params.yaml" command="load" />
    
    <rosparam file="$(find social_sim_ros)/params/kuri/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find social_sim_ros)/params/kuri/move_base_params.yaml" command="load" />

    <!-- switch the local planner -->
    <param name="/base_local_planner" value="pose_follower/PoseFollower"/>

    <param name="/move_base/planner_frequency" value="1.0"/>
    <param name="/move_base/controller_frequency" value="0.0"/>

    <param name="/global_costmap/transform_tolerance" value="10.0"/>
    <param name="/global_costmap/update_frequency" value="1.0"/>

    <param name="/local_costmap/transform_tolerance" value="10.0"/>
    <param name="/local_costmap/update_frequency" value="1.0"/>
    <param name="/local_costmap/publish_frequency" value="1.0"/>
    
    <remap from="cmd_vel" to="planner_cmd_vel" />

  </node>

  <node pkg="social_sim_ros" type="pose_to_people" name="pose_to_people" output="screen"/>

</launch>
