<launch>
  <arg name="ip" default="0.0.0.0"/>
  <arg name="port" default="00"/>
  <arg name="datapath" default="$HOME/sim_ws/data" />
  <arg name="submission_name" default="submission" />
  <arg name="submission_id" default="submission" />
  <arg name="path"   value="(find $(arg submission_name))" />
  <arg name="dollar" value="$" />

  <include file="$(find social_sim_ros)/launch/sim_tcp_bridge.launch">
    <arg name="ip" value="$(arg ip)" />
    <arg name="port" value="100$(arg port)" />
  </include>

  <include file="$(find social_sim_ros)/launch/kuri_description.launch"></include>
  <node pkg="social_sim_ros" name="map_publisher" type="map_publisher.py" output="screen" />

  <include file="$(find social_sim_ros)/launch/submission_trial_info.launch">
    <arg name="datapath" value="$(arg datapath)"/>
    <arg name="submission_id" value="$(arg submission_id)"/>
  </include>
  
  <include file="$(arg dollar)$(arg path)/launch/submission.launch"/>

  <node pkg="social_sim_ros" type="ros_controlled_recorder.py" name="ros_controlled_recorder" output="screen">
    <param name="prefix" value="$(arg datapath)"/>
  </node>

</launch>
