<launch>
  <arg name="prefix" />
  <arg name="condition" default="nt-45-base-e2e" />
  <node name="trial_info" pkg="social_sim_ros" type="trial_info.py" output="screen" respawn="true">
    <param name="prefix" type="string" value="$(arg prefix)"/>
    <param name="condition" type="string" value="$(arg condition)"/>
  </node>
</launch>
